{% extends 'base.html' %}
{% block title %}Artist List{% endblock %}  
{% block main%}

      {% if artists %}
      <div class="container">
        <div class="row">
          {% for artist in artists %}
            <div class="col-md-4">
              {% include 'artist_list_item.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="container">
        <p class="text-center">No artists found</p>
      </div>
      {% endif %}

{% endblock %}
